@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto Slab', serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
p, a {
 color: #ece3e3;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
span {
  --font-family: 'Lato', sans-serif;
  color: #fff;
}
p {
  --font-size: 16px;
  --font-weight: 700;
  --font-family: 'Lato', sans-serif;
}
.App-cover {
  position: relative;
}

.home-screen img {
  margin: 102px auto 69px auto;
}

.page-cover {
  padding: 15px;
}

.home-screen h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  max-width: 349px;
  margin: 49px auto;
}


/* ---tab css---- */
.tab-block ul#pills-tab {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 435px;
}
.tab-block {
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
  width: 100%;
  height: 78px;
  position: fixed;
  bottom: 0;
  /* z-index: 99999; */
  background-color: #67a697;
}
/* .tab-block {
  margin-top: 75px;
} */
.tab-block .nav-link {
  padding: 0 18px;
  font-size: 42px;
  color: var(--white);
}

.tab-block .nav-pills .nav-link.active,
.tab-block .nav-pills .show>.nav-link {
  background-color: transparent;
  color: var(--yellow);
}

/* ---- */
.hide-img {
  position: absolute;
  top: 40px; 
  left: -15px;
  opacity: 0.2;
}
.aed-img {
  position: absolute;
  top: 905px;
  right: 0;
} 
.breathing-img {
  position: absolute;
  right: 0;
  top: 320px;
}

.clock-img {
  position: absolute;
  top: 40px;
  right: 15px;
}

.breathingmen-img {
  position: absolute;
  top: 308px;
  left: -15px;
}

.heartwave-img-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.heartwave-img-left {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.content-border_box {
  max-width: 334px;
  margin: 78px auto 64px auto;
}

.content-border_box p {
  font-weight: 500;
  padding-bottom: 15px;
  font-size: 16px;
  color: #fff;
}

.partition {
  border-bottom: 2px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* --------acordian---- */
.card-container .card {
  background-color: transparent;
  border: 0;
}

.card-body {
  position: relative;
}

.card-container .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 0;
}
.page_11-wrap button svg {
  width: 20px;
  height: 28px;
}
.page_11-wrap .default-btn svg {
  transform: rotate(90deg);
  transition: 0.2s linear all;
}
.page_11-wrap .default-btn.collapsed svg {
  transform: unset;
}
.accordion-cta.active {
  background-color:  #322D73;
} 
.card_one .hand-img {
  position: absolute;
  top: 50px;
  left: -15px;
}

.doctor_breathing-img {
  position: absolute;
  right: 15px;
  bottom: 90px;
}

.check-img {
  position: absolute;
  right: 0;
  top: 60px;
}

.ambulence-img {
  position: absolute;
  left: -15px;
  bottom: 95px;
}

.highwave-img {
  position: absolute;
  right: 0px;
  bottom: 140px;
}

.highbreathing-img {
  position: absolute;
  left: 0;
  top: 40px;
}

body {
  background-color: #67a697 !important;
}
section.page-cover.text-center h1 {
  color: #fff;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
section.page-cover button {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
section.page-cover.text-center {
  height: calc(100vh - 80px);
  overflow: auto;
  padding: 30px 15px;
}
.card h5 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.page-cover sapn {
  color: #fff;
}
.page-heart_wrap {
  max-width: 500px;
  margin: 0 auto;
}
.yes-no_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yes-no_wrap button {
  width: 50%;
}

.page_11-wrap  .card {
  margin-bottom: 10px;
}

@media (max-width: 769px) {
  .page-heart_wrap {
    max-width: 100%;
  }
  .default-btn  {
    width: 100%;
    min-width: 100%;
  }
  .tab-block ul#pills-tab {
    justify-content: center;
    max-width: 100%;
  }
  .tab-block .nav-link {
    font-size: 30px;
  }
  .tab-block {
    height: 60px;
  }
  
  .page-cover img[title="Sleeping Man"],
  .page-cover img[title="Help to Man"],
  .page-cover img[title="steps-breathingman" ] {
    width: 100%;
    margin: 0 auto !important;
    max-width: 300px;
  } 
  .page-cover  .img-box img {
    width: 50%;
}
.small-btn {
  bottom: 78px;
}
p {
  font-size: 14px;
}
}